:root {
    --main-bg-color-odd: #59bfff;
    --main-bg-color-even: #fff;

    --main-plant-color: #54A865;
    --main-pot-color: #ca6641;
}

.playground .content {
    grid-column: 2 / span 3;
}

article:nth-of-type(odd) {
    background: var(--main-bg-color-odd);
}

article:nth-of-type(even) {
    background: var(--main-bg-color-even);
}

article {
    height: 300px;
}

/*cactus*/
.cactus {
    position: relative;
    margin: auto;
    width: 180px;
}

.plant {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--main-plant-color);
}

#pot {
    position: relative;
    border-top: 100px solid var(--main-pot-color) !important;
    border-left: 25px solid transparent !important;
    border-right: 25px solid transparent !important;
    width: 60px;
    top: 120px;
    left: 35px;
    border-radius: 10px;
}

.plant-left {
    top: 70px;
}

.plant-right {
    top: 70px;
    left: 110px;
}

.plant::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--main-plant-color);
    top: -45px;
}

.plant-right::before {
    top: -30px;
}

.plant-left::before {
    left: -35px;
}

.plant-right::before {
    left: 35px;
}

.plant::after {
    content: '';
    top: 0;
    position: absolute;
    width: 100px;
    height: 60px;
    border-radius: 50%;
    background: var(--main-plant-color);
}

.plant-left::after {
    left: 35px;
}

.plant-right::after {
    left: -35px;
}

.face {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: var(--main-plant-color);
    border-radius: 50%;
}

.face:hover {
    transform: translateX(-35%);
}

.eye {
    position: absolute;
    background: black;
    border: 5px solid white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 30px;
}

.eye-left {
    left: 10px;
}

.eye-right {
    right: 10px;
}

.mouth {
    position: absolute;
    background: white;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    clip-path: circle(50% at 50% 0);
}

/*einde cactus*/

/*switcher button*/
label {
    position: relative;
    left: 40%;
    top: 40%;
}

.check {
    display: none;
}

.btn {
    display: inline-block;
    height: 70px;
    font-size: 1.3rem;
    width: 120px;
    background: red;
    border-radius: 50px;
    transition: left 0.5s ease;
}

.btn::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background: white;
    top: -43px;
    left: 6px;
    border-radius: 50%;
}

.btn::after {
    content: "off";
    position: absolute;
    height: 70px;
    width: 70px;
    top: -47px;
    left: 56px;
    text-align: center;
    line-height: 65px;
    color: white;
    transition: left 0.5s ease;
}

.check:checked+.btn {
    background: green;
}

.check:checked+.btn::before {
    background: white;
    left: 56px;
}

.check:checked+.btn::after {
    left: -5px;
    content: "on";
}

/*einde switcher button*/

/*bouncy ball*/

.ballMove {
    position: relative;
    width: 40px;
    height: 40px;
    top: 230px;
    left: 500px;
    -webkit-animation: move 3s ease-out infinite;
    animation: move 3s ease-out infinite;
}

.ballMove .ballUp {
    -webkit-animation: up 3s cubic-bezier(0, 0, 0.38, 1) infinite;
    animation: up 3s cubic-bezier(0, 0, 0.38, 1) infinite;
}

.ballMove .ballDown {
    -webkit-animation: down 3s cubic-bezier(0.38, 0, 1, 1) infinite;
    animation: down 3s cubic-bezier(0.38, 0, 1, 1) infinite;
}

.ballMove .ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    -webkit-animation: ball 3s cubic-bezier(0.38, 0, 1, 1) infinite;
    animation: ball 3s cubic-bezier(0.38, 0, 1, 1) infinite;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-460px);
        transform: translateX(-460px);
    }
}

@keyframes move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-460px);
        transform: translateX(-460px);
    }
}

@-webkit-keyframes up {

    0%,
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    35%,
    50% {
        -webkit-transform: translateY(-105px);
        transform: translateY(-105px);
    }

    65%,
    80% {
        -webkit-transform: translateY(-168px);
        transform: translateY(-168px);
    }

    90%,
    100% {
        -webkit-transform: translateY(-190px);
        transform: translateY(-190px);
    }
}

@keyframes up {

    0%,
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    35%,
    50% {
        -webkit-transform: translateY(-105px);
        transform: translateY(-105px);
    }

    65%,
    80% {
        -webkit-transform: translateY(-168px);
        transform: translateY(-168px);
    }

    90%,
    100% {
        -webkit-transform: translateY(-190px);
        transform: translateY(-190px);
    }
}

@-webkit-keyframes down {
    0% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }

    20%,
    35% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50%,
    65% {
        -webkit-transform: translateY(105px);
        transform: translateY(105px);
    }

    80%,
    95% {
        -webkit-transform: translateY(168px);
        transform: translateY(168px);
    }

    100% {
        -webkit-transform: translateY(190px);
        transform: translateY(190px);
    }
}

@keyframes down {
    0% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }

    20%,
    35% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50%,
    65% {
        -webkit-transform: translateY(105px);
        transform: translateY(105px);
    }

    80%,
    95% {
        -webkit-transform: translateY(168px);
        transform: translateY(168px);
    }

    100% {
        -webkit-transform: translateY(190px);
        transform: translateY(190px);
    }
}

@-webkit-keyframes ball {

    0%,
    19%,
    25%,
    49%,
    55%,
    79%,
    85%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20%,
    80%,
    50%,
    80% {
        -webkit-transform: scale(1.1, 0.9);
        transform: scale(1.1, 0.9);
    }
}

@keyframes ball {

    0%,
    19%,
    25%,
    49%,
    55%,
    79%,
    85%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20%,
    80%,
    50%,
    80% {
        -webkit-transform: scale(1.1, 0.9);
        transform: scale(1.1, 0.9);
    }
}

/*einde bouncy ball*/

/*underline*/
.underline-container>h2 {
    font-size: 45px;
    color: #101010;
    display: inline;
    position: relative;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: linear-gradient(transparent 60%, #E03634 40%);
    background-repeat: repeat-x;
    background-size: 200% 100%;
    transition: background-size 1s ease;
}

body h1:hover {
    background-position: -100% 0;
}

/*einde underline*/